<%= form_for(@expediente) do |f| %>
  <% if @expediente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expediente.errors.count, "error") %> prohibited this expediente from being saved:</h2>

      <ul>
      <% @expediente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



	
 <%texts = Array.new
   @expedientes.each do |expediente|
    	if expediente.individual?
    	  aux = Array.new
   		  expediente.pacientes.each do |paciente|
   			aux.push paciente.nombre_completo
   			aux.push paciente.id
   			texts.push aux
   		  end
    	end
   end
 %>
	
<%= select_tag "expediente[paciente]", options_for_select(texts, :expediente => params[:paciente]), :prompt => "Elija el paciente que desea agrupar" %>

	<%= submit_tag 'Agrupar Paciente', :id => 'add' %>




   <div class="field">
    <b><%= f.label :tipo_expediente %></b><br />
    <%= f.text_field :tipo_expediente, :value => Expediente::EXPEDIENTE_GRUPAL, :readonly => true %>
  </div>

  <div class="field">
    <b><%= f.label :fecha_creacion %></b><br />
    <%= f.text_field :fecha_creacion, :value => Date.today, :readonly => true%>
  </div>
  <div class="field">
    <b><%= f.label :tipo_familia %></b><br />
    <%= select_tag "expediente[tipo_familia]", options_for_select(["(HTX) Heterosexual", "(HX) Homosexual","(LX) Lesvica"], :selected => params[:tipo_familia]), :prompt => "Elija el tipo de familia" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
