<div id=divhead>
<h1 class="head">Listado de expedientes</h1>
<div/>
<div id=divbody>
<table>
  <tr>
    <th class="custom">Tipo expediente</th>
    <th class="custom">Fecha creacion</th>
    <th class="custom">Tipo familia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expedientes.each do |expediente| %>
  <tr>
    <td class="custom"><%= expediente.tipo_expediente %></td>
    <td class="custom"><%= expediente.fecha_creacion %></td>
    <td class="custom"><%= expediente.tipo_familia %></td>
    <td><%= link_to 'Ver', expediente %></td>
    <td><%= link_to 'Editar', edit_expediente_path(expediente) %></td>
    <td><%= link_to 'Archivar', expediente, confirm: 'Seguro que desea archivarlo?', method: :delete %></td>
  </tr>
<% end %>
</table>
<div/>
<br />
<p class="footer">
<%= link_to 'Crear nuevo expediente', new_expediente_path %>
<p>
