<h1>Lista de expedientes</h1>

	<%= form_tag expedientes_path, :id => "form_buscar", :method => :get do%>
    	Buscar: <%= search_field_tag 'busqueda' %> 
  		<%= submit_tag 'Buscar', :id => 'submit_buscar' %> 
  	<% end %> 
	
	<% for char in 'A'..'Z' %>
		<%= link_to char, expedientes_path(:char => char) %>
	<% end %> 

<table>
  <tr>
  	
  	<th>Id</th>
    <th>Tipo expediente</th>
    <th>Nombre del Paciente</th>
    <th>Tratante</th>
    <th>Mas detalle</th>
  </tr>

<% @expedientes.each do |expediente| %>
  <tr>
  	<td><%= expediente.id %></td>
    <td><%= expediente.tipo_expediente %></td>
    <td>
		<% expediente.pacientes.each do |paciente| %>
			<%= paciente.nombre_completo %><br/>
		<% end %>
    </td>
    <td>tratante</td>
    <td><%= link_to ' Ver ', expediente %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Crear nuevo expediente grupal', new_expediente_path %>