<div id=divhead>
<h1 class="head">Listado de expedientes</h1>
<div/>
<div method="get" action="">
  Buscar: <%= search_field_tag 'nombre_paciente' %>
</div>
<div id=divbody>
<table>
  <tr>
  	
  	<th class="custom">Id</th>
    <th class="custom">Tipo expediente</th>
    <th class="custom">Nombre del Paciente</th>
    <th class="custom">Tratante</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expedientes.each do |expediente| %>
  <tr>
  	<td class="custom"><%= expediente.id %></td>
    <td class="custom"><%= expediente.tipo_expediente %></td>
       <td class="custom">
    	<% expediente.pacientes.each do |paciente| %>
			<%= paciente.nombre_completo %><br/>
    	<% end %>
    </td>

    <td class="custom">tratante</td>
    <td><%= link_to 'Ver', expediente %></td>
   
    <td><%= link_to 'Archivar', expediente, confirm: 'Seguro que desea archivarlo?', method: :delete %></td>
  </tr>
<% end %>
</table>
<div/>
<br />
<p class="footer">
<%= link_to 'Crear nuevo expediente grupal', new_expediente_path %>
<p>
