<%if @expediente.individual?%>
<h1> <%= @expediente.pacientes.first.nombre_completo %> </h1>
<%else%>
<h1> Expediente Grupal </h1>
<%end%>

<p id="notice">
	<%= notice %>
</p>
<div class="main">

	<div class="img">
		<%= image_tag "avatar.png" %>
	</div>
	<div class="datos">

		<p>
			<b>Expediente Número:<b><%= @expediente.id%> 
		</p>	
		
		<p>
			<b>Tipo de Expediente: </b>
	         <%= @expediente.tipo_expediente %>
		</p>
		
		<p>
			<b>Supervisor: </b>
			Supervisor

		</p>
		<p>
			<b>Tratante: </b>
			Tratante

		</p>

		<p>
			<b>Fecha creacion:</b>
			<%= @expediente.fecha_creacion %>
		</p>

		<p>
			<b>Tipo familia:</b>
			<%= @expediente.tipo_familia %>
		</p>

		<p>
			<b>Motivos de Consulta: </b>
			
			<%
			i=0
			@motivos_consulta.each do |motivo|%>
			
			    <div class="motivo">
			    <%= image_tag("file.png",:size => "70x70")%>
			    <br>
			    <%= motivo.motivo_real %>
			    </div>
			<%if i < 2
				i = i+1		
			  else
			  	i = 0 %>
			  	<br><br><br><br><br><br>
			  <%end%>	
			<%end%>
		</p>

	</div>

</div>
<br><br><br><br>


<%= link_to 'Modificar', edit_expediente_path(@expediente) %> |
<%= link_to 'Regresar', expedientes_path %>
