<%if @expediente.individual?%>
<h1 class="link"> <%= link_to @expediente.pacientes.first.nombre_completo, @expediente.pacientes.first %> </h1>
<%else%>
<h1> Expediente Grupal </h1>
<%end%>

<p id="notice">
	<%= notice %>
</p>
<div class="main">

	<div class="foto">
		<%= image_tag "avatar.png" %>
	</div>
	<div class="datos">

		<p>
			<b>Expediente Número:<b><%= @expediente.id%> 
		</p>	
		
		<p>
			<b>Tipo de Expediente: </b>
	         <%= @expediente.tipo_expediente %>
		</p>
		
		<p>
			<b>Supervisor(es): </b>
			<% @expediente.supervisores.each do |supervisor| %>
				<%= supervisor.nombre_completo %>&nbsp;	
			<% end %>


		</p>
		<p>
			<b>Tratante(s): </b>
			<% @expediente.tratantes.each do |tratante| %>
				<%= tratante.nombre_completo %>&nbsp;	
			<% end %>

		</p>
		
	    </div>

		<p>
			<b>Fecha creacion:</b>
			<%= @expediente.fecha_creacion %>
		</p>

		<p>
			<b>Tipo familia:</b>
			<%= @expediente.tipo_familia %>
		</p>

		<p>
			<b>Motivos de Consulta: </b>
			
			<%
			i=0
			@expediente.motivos_consulta.each do |motivo_consulta|%>
			
			    <div class="motivo">
			    <%= link_to image_tag("file.png",:size => "70x70"), motivo_consulta, :method => :get %>
			    <br>
			    <%= motivo_consulta.motivo_real %>
			    </div>
			<%if i < 2
				i = i+1		
				  
			  else
			  	i = 0 %>
			  	<br><br><br><br><br><br>
			  <%end%>	
			<%end%>
		</p>



</div>
<br><br><br><br>


<%= link_to 'Modificar', edit_expediente_path(@expediente) %> |
<%= link_to 'Regresar', expedientes_path %>
