<%= form_for(@paciente) do |f| %>
  <% if @paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% @paciente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <img name="Foto del paciente" src="" width="232" height="200" alt="">
  
  <div class="field">
    <%= f.label "Nombre:" %> 
   <%= f.text_field :nombre, :size => "13x1" %>
   <%= f.label "Apellido 1:" %> 
   <%= f.text_field :apellido1, :size => "13x1" %>
   <%= f.label "Apellido 2:" %> 
   <%= f.text_field :apellido2, :size => "13x1" %>
  </div>
      
  <div class="field">
  	<%= f.label "Cédula:" %>
  	<%= f.text_field :cedula %>
  </div>
  
<div class="field">
  <%= f.label "Fecha de nacimiento:" %>
  <%= f.date_select :fecha_nacimiento, :start_year => 1910, :end_year => (Time.now.year) %>
</div>
  
  <div class="field">
    <%= f.label "Género:" %>
	<%= f.select :genero, options_for_select(["Masculino", "Femenino"], :selected => @paciente.genero), :prompt => "Seleccione" %>
 </div>
  
  <div class="field">
    <%= f.label "Nacionalidad:" %>
    <%= f.text_field :nacionalidad %>
  </div>
  
  <div class="field">
    <%= f.label "Estado Civil: " %>
    <%= f.select :estado_civil, options_for_select(%w{ Soltero/a  Casado/a Divorciado/a Viudo/a Union_Libre}, :selected => @paciente.estado_civil), :prompt => "Seleccione" %>
  </div>
 
  <div class="field">
    <%= f.label "Teléfono casa:" %>
    <%= f.text_field :telefono_casa, :size => "13x1" %>
	<%= f.label "Teléfono celular:" %>
    <%= f.text_field :telefono_celular, :size => "13x1" %>
	<%= f.label "Correo electrónico:" %>
    <%= f.text_field :correo_electronico %>
  </div>

  <div class="field">
    <%= f.label "Ocupación:" %>
    <%= f.text_field :ocupacion %>
	<%= f.label "Profesión:" %>
    <%= f.text_field :profesion %>
	<%= f.label "Años de estudio:" %>
    <%= f.number_field :anos_estudio %>
  </div>

  <div class="field">
    <%= f.label "Provincia:" %>
    <%= f.select :provincia, options_for_select(%w{ Alajuela  Cartago Guanacaste Heredia Limón Puntarenas San_José}, :selected => @paciente.provincia), :prompt => "Seleccione" %>
	<%= f.label "Cantón:" %>
    <%= f.text_field :canton %>
	<%= f.label "Distrito:" %>
    <%= f.text_field :distrito %>
  </div>
  
  <div class="field">
    <%= f.label "Otras señas:" %>
    <%= f.text_area :otras_senas, :size => "130x5" %>
  </div>
  
 
  <div class="actions">
    <%= f.submit 'Crear Paciente' %>
  </div>
 
<% end %>
