<%= form_for(@paciente) do |f| %>
  <% if @paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% @paciente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div1 >
  <div0>
  <img name="Foto del paciente" src="" width="232" height="200" alt="">
  </div0>
  <div>
    <%= f.label "Nombre:" %> 
   <%= f.text_field :nombre %>
   <%= f.label "Apellido 1:" %> 
   <%= f.text_field :apellido1 %>
   <%= f.label "Apellido 2:" %> 
   <%= f.text_field :apellido2 %>
  </div>
      
  <div class="field">
  <%= f.label "Cedula:" %>
  <%= f.text_field :cedula %>
  </div>
  
  <div class="field">
    <%= f.label "Fecha de nacimiento:" %>
    <%= f.date_select :fecha_nacimiento %>
  </div>
  
  <div class="field">
    <%= f.label "Genero:" %>
	<%= f.text_field :genero %>
 	<select>
	<option>Masculino</option>
    <option>Femenino</option>
	</select>
  </div>
  
  <div class="field">
    <%= f.label "Nacionalidad:" %>
    <%= f.text_field :nacionalidad %>
  </div>
  
  <div class="field">
    <%= f.label "Estado Civil: " %>
    <%= f.text_field :estado_civil %>
	<select>
	<option>Soltero/a</option>
      <option>Casado/a</option>
      <option>Divorciado/a</option>
      <option>Viudo/a</option>
      <option>Union libre</option>
      <option>Separado/a</option>
    </select>
  </div>
 </div1>   
 
<div2>  
  <div class="field">
    <%= f.label "Telefono casa:" %>
    <%= f.text_field :telefono_casa %>
	<%= f.label "Telefono celular:" %>
    <%= f.text_field :telefono_celular %>
	<%= f.label "Correo electronico:" %>
    <%= f.text_field :correo_electronico %>
  </div>
</div2>

<div3>
  <div class="field">
    <%= f.label "Ocupacion:" %>
    <%= f.text_field :ocupacion %>
	<%= f.label "Profesion:" %>
    <%= f.text_field :profesion %>
	<%= f.label "Anios estudio:" %>
    <%= f.number_field :anos_estudio %>
  </div>
</div3>

<div4>  
  <div class="field">
    <%= f.label "Provincia:" %>
    <%= f.text_field :provincia %>
	<%= f.label "Canton:" %>
    <%= f.text_field :canton %>
	<%= f.label "Distrito:" %>
    <%= f.text_field :distrito %>
  </div>
  
    
  <div class="field">
    <%= f.label "Otras senias:" %>
    <%= f.text_area :otras_senas %>
  </div>
</div4>
  
 
  <div class="actions">
    <%= f.submit %>
  </div>
 
<% end %>
