<h1>Lista de Pacientes</h1>
<body>
<div method="get" action="">
  Buscar: <%= search_field_tag 'nombre' %>
</div>

<p>
	<% for char in 'A'..'Z' %>
		<%= link_to char, pacientes_path(:char => char) %>
	<% end %> 
</p>

<table>
<table width="700" height="50" border="1">
  <tr>
    <th bgcolor="#0099FF" scope="col">Nombre</th>
    <th bgcolor="#0099FF" scope="col">Apellido1</th>
    <th bgcolor="#0099FF" scope="col">Apellido2</th>
    <th bgcolor="#0099FF" scope="col">Cedula</th>
    <th bgcolor="#0099FF" scope="col">Genero</th>
    <th bgcolor="#0099FF" scope="col">Fecha De Nacimiento</th>
  </tr>




<% @pacientes.each do |paciente| %>
  <tr>
    <td><%= paciente.nombre %></td>
    <td><%= paciente.apellido1 %></td>
    <td><%= paciente.apellido2 %></td>
     <td><%= paciente.cedula %></td>
    <td><%= paciente.genero %></td>
    <td><%= paciente.fecha_nacimiento %></td>
    <td><%= link_to 'Show', paciente %></td>
    <td><%= link_to 'Edit', edit_paciente_path(paciente) %></td>
    <td><%= link_to 'Destroy', paciente, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Nuevo Paciente', new_paciente_path, :method => :get %>  <a href="#">Regresar</a></p>