<h1>Lista de Pacientes</h1>
<body>
<form id="form1" name="form1" method="get" action="">
  <label for="buscar">	Buscar:</label>
  <input name="buscar" type="text" id="buscar">
</form>

<p><a href="#">A</a> <a href="#">B</a> <a href="#">C</a> <a href="#">D</a> <a href="#">E</a> <a href="#">F</a> <a href="#">G</a> <a href="#">H</a> <a href="#">I</a> <a href="#">J</a> <a href="#">K</a> 
	<a href="#">L</a> <a href="#">M</a> <a href="#">N</a> <a href="#">N</a> <a href="#">O</a> <a href="#">P</a> <a href="#">Q</a> <a href="#">R</a> <a href="#">S</a> <a href="#">T</a> <a href="#">U</a>
	 <a href="#">V</a> 
	 <a href="#">W</a> 
	 <a href="#">X</a> 
	 <a href="#">Y</a> 
	 <a href="#">Z</a>
	 </p>

<table>
<table width="700" height="50" border="1">
  <tr>
    <th bgcolor="#0099FF" scope="col">Nombre</th>
    <th bgcolor="#0099FF" scope="col">Apellido1</th>
    <th bgcolor="#0099FF" scope="col">Apellido2</th>
    <th bgcolor="#0099FF" scope="col">Cedula</th>
    <th bgcolor="#0099FF" scope="col">Genero</th>
    <th bgcolor="#0099FF" scope="col">Fecha De Nacimiento</th>
  </tr>

<% @pacientes.each do |paciente| %>
  <tr>
    <td><%= paciente.nombre %></td>
    <td><%= paciente.apellido1 %></td>
    <td><%= paciente.apellido2 %></td>
     <td><%= paciente.cedula %></td>
    <td><%= paciente.genero %></td>
    <td><%= paciente.fecha_nacimiento %></td>
    <td><%= link_to 'Show', paciente %></td>
    <td><%= link_to 'Edit', edit_paciente_path(paciente) %></td>
    <td><%= link_to 'Destroy', paciente, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Paciente', new_paciente_path %>  <a href="#">Regresar</a></p>
