<h1 class="content_title">Lista de Pacientes</h1>

	<br />
	
	<%= form_tag pacientes_path, :id => "form_buscar", :method => :get do%>
    	Buscar: <%= search_field_tag 'busqueda' %> 
  		<%= submit_tag 'Buscar', :id => 'submit_buscar' %> 
  	<% end %> 
  	
  	<br />
  	
	<% for char in 'A'..'Z' %>
		<%= link_to char, pacientes_path(:char => char) %>
	<% end %> 
	
	<br /><br />
	
	<table class="list_resourses">
	<tr>
	    <th>Nombre</th>
	    <th>Cédula</th>
	    <th>Género</th>
	    <th>Fecha de Nacimiento</th>
	    <th>Mas Detalles</th>
	</tr>
  
	<% @pacientes.each do |paciente| %>
		<tr>
			<td><%= paciente.nombre_completo %></td>
			<td><%= paciente.cedula %></td>
			<td><%= paciente.genero %></td>
			<td><%= paciente.fecha_nacimiento %></td>
			<td><%= link_to 'Mostrar', paciente %></td>
		</tr>
	<% end %>
</table>

<br />

<%= button_to 'Nuevo Paciente', new_paciente_path, :method => :get %>
