<p id="notice"><%= notice %></p>

<p>
  <b>Cedula:</b>
  <%= @paciente.cedula %>
</p>

<p>
  <b>Nombre:</b>
  <%= @paciente.nombre %>
</p>

<p>
  <b>Apellido1:</b>
  <%= @paciente.apellido1 %>
</p>

<p>
  <b>Apellido2:</b>
  <%= @paciente.apellido2 %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%= @paciente.fecha_nacimiento %>
</p>

<p>
  <b>Genero:</b>
  <%= @paciente.genero %>
</p>

<p>
  <b>Estado civil:</b>
  <%= @paciente.estado_civil %>
</p>

<p>
  <b>Provincia:</b>
  <%= @paciente.provincia %>
</p>

<p>
  <b>Canton:</b>
  <%= @paciente.canton %>
</p>

<p>
  <b>Distrito:</b>
  <%= @paciente.distrito %>
</p>

<p>
  <b>Otras senas:</b>
  <%= @paciente.otras_senas %>
</p>

<p>
  <b>Telefono casa:</b>
  <%= @paciente.telefono_casa %>
</p>

<p>
  <b>Telefono celular:</b>
  <%= @paciente.telefono_celular %>
</p>

<p>
  <b>Correo electronico:</b>
  <%= @paciente.correo_electronico %>
</p>

<p>
  <b>Nacionalidad:</b>
  <%= @paciente.nacionalidad %>
</p>

<p>
  <b>Anos estudio:</b>
  <%= @paciente.anos_estudio %>
</p>

<p>
  <b>Profesion:</b>
  <%= @paciente.profesion %>
</p>

<p>
  <b>Ocupacion:</b>
  <%= @paciente.ocupacion %>
</p>


<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
