<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @paciente.nombre %>
  <b>Apellido 1:</b>
  <%= @paciente.apellido1 %>
  <b>Apellido 2:</b>
  <%= @paciente.apellido2 %>
</p>

<p>
  <b>Cédula:</b>
  <%= @paciente.cedula %>
</p>
<p>
  <b>Fecha de nacimiento:</b>
  <%= @paciente.fecha_nacimiento %>
</p>

<p>
  <b>Género:</b>
  <%= @paciente.genero %>
</p>

<p>
  <b>Nacionalidad:</b>
  <%= @paciente.nacionalidad %>
</p>

<p>
  <b>Estado civil:</b>
  <%= @paciente.estado_civil %>
</p>
<p>
  <b>Teléfono casa:</b>
  <%= @paciente.telefono_casa %>
  <b>Teléfono celular:</b>
  <%= @paciente.telefono_celular %>
  <b>Correo electrónico:</b>
  <%= @paciente.correo_electronico %>
</p>

<p>
  <b>Ocupación:</b>
  <%= @paciente.ocupacion %>
  <b>Profesión:</b>
  <%= @paciente.profesion %>
  <b>Años de estudio:</b>
  <%= @paciente.anos_estudio %>
</p>

<p>
  <b>Provincia:</b>
  <%= @paciente.provincia %>
  <b>Cantón:</b>
  <%= @paciente.canton %>
  <b>Distrito:</b>
  <%= @paciente.distrito %>
</p>

<p>
  <b>Otras señas:</b>
  <%= @paciente.otras_senas %>
</p>

<%= render 'form' %>


<%= button_to 'Editar', edit_paciente_path(@paciente),:method => :get %>
<%= button_to 'Regresar', pacientes_path, :method => :get  %>
