<h1>Listing reportes</h1>

<table>
  <tr>
    <th>Temas discutidos</th>
    <th>Actividades realizadas</th>
    <th>Acuerdos</th>
    <th>Tipo</th>
    <th>Tratamiento</th>
    <th>Diagnostico</th>
    <th>Cita</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reportes.each do |reporte| %>
  <tr>
    <td><%= reporte.temas_discutidos %></td>
    <td><%= reporte.actividades_realizadas %></td>
    <td><%= reporte.acuerdos %></td>
    <td><%= reporte.tipo %></td>
    <td><%= reporte.tratamiento %></td>
    <td><%= reporte.diagnostico %></td>
    <td><%= reporte.cita %></td>
    <td><%= link_to 'Show', reporte %></td>
    <td><%= link_to 'Edit', edit_reporte_path(reporte) %></td>
    <td><%= link_to 'Destroy', reporte, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reporte', new_reporte_path %>
