<p id="notice"><%= notice %></p>

<p>
  <b>Motivo inicial:</b>
  <%= @motivo_consultum.motivo_inicial %>
</p>

<p>
  <b>Motivo real:</b>
  <%= @motivo_consultum.motivo_real %>
</p>

<p>
  <b>Derivacion:</b>
  <%= @motivo_consultum.derivacion %>
</p>

<p>
  <b>Estado:</b>
  <%= @motivo_consultum.estado %>
</p>

<p>
  <b>Fecha inicio:</b>
  <%= @motivo_consultum.fecha_inicio %>
</p>

<p>
  <b>Fecha fin:</b>
  <%= @motivo_consultum.fecha_fin %>
</p>

<p>
  <b>Nivel importancia:</b>
  <%= @motivo_consultum.nivel_importancia %>
</p>

<p>
  <b>Expediente:</b>
  <%= @motivo_consultum.expediente %>
</p>


<%= link_to 'Edit', edit_motivo_consultum_path(@motivo_consultum) %> |
<%= link_to 'Back', motivo_consulta_path %>
