<h1 class="content_title">Lista de Espera</h1>


<%= form_tag motivos_consulta_path, :id => "form_buscar", :method => :get do%>
	Buscar: <%= search_field_tag 'busqueda' %> 
	<%= submit_tag 'Buscar', :id => 'submit_buscar' %> 
<% end %> 
 <br/>
 <br/>
 
<% for char in 'A'..'Z' %>
	<%= link_to char, motivos_consulta_path(:char => char) %>
<% end %>

<br/>
<br/>

<table class="list_resourses">
  <tr>
    <th>Paciente</th>
    <th>Expediente</th>
    <th>Motivo inicial</th>
	<th>Estado</th>
    <th>Fecha inicio</th>
    <th>Nivel importancia</th>
    <th>Más detalles</th>
    <th>Asignar</th>        
  </tr>
   
 
<% @motivos_consulta.each do |motivo_consulta| %>
  <tr>
    <td>
    	<% motivo_consulta.expediente.pacientes.each do |paciente| %>
			<%= paciente.nombre_completo %><br/>
    	<% end %>
    </td>
	<td><%= motivo_consulta.expediente.id %></td>
	<td><%= motivo_consulta.motivo_inicial %></td>
    <td><%= motivo_consulta.estado %></td>
    <td><%= motivo_consulta.fecha_inicio %></td>
    <td><%= motivo_consulta.nivel_importancia %></td>
	<td><%= link_to 'Mostrar', motivo_consulta, :method => :get %></td>
	<td><%= link_to 'Asignar', new_motivo_consulta_asignacion_path(motivo_consulta, :tipo_asignacion => Asignacion::TIPO_ASIGNACION_TRATANTE), :method => :get %></td>

  </tr>
<% end %>
</table>
<br/>
<br/>
<br />

<%= button_to 'Nuevo Motivo Consulta', new_motivo_consulta_path, :method => :get %> 