<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @usuario.usuario %>
</p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Apellido1:</b>
  <%= @usuario.apellido1 %>
</p>

<p>
  <b>Apellido2:</b>
  <%= @usuario.apellido2 %>
</p>

<p>
  <b>Correo electrónico:</b>
  <%= @usuario.correo_electronico %>
</p>

<p>
  <b>Rol:</b>
  <%= @usuario.rol.nombre %>
</p>


<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Regresar', usuarios_path %>
