 <%= form_for(@motivo_consulta) do |f| %>
  <% if @motivo_consulta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@motivo_consulta.errors.count, "error") %> prohibited this motivo_consulta from being saved:</h2>

      <ul>
      <% @motivo_consulta.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    
  <div class="field">
    <%= f.label :paciente %><br />
    <%= f.collection_select :expediente_id, @pacientes, :expediente_individual_id, :nombre_completo %>
    <%= link_to 'Nuevo Paciente', new_paciente_path, :method => :get %>
  </div>    

  <div class="field">
    <%= f.label :motivo_inicial %><br />
    <%= f.text_field :motivo_inicial %>
  </div>
  <div class="field">
    <%= f.label :motivo_real %><br />
    <%= f.text_field :motivo_real %>
  </div>
  <div class="field">
    <%= f.label :derivacion %><br />
    <%= f.text_field :derivacion %>

  </div>
  
  <div class="field">
    <%= f.label :fecha_inicio %><br />
    <%= f.date_select :fecha_inicio %>
  </div>
  <div class="field">
    <%= f.label :fecha_fin %><br />
    <%= f.date_select :fecha_fin%>
  </div>
  
  <div class="field">
    <%= f.label :nivel_importancia %><br />
    <%= select_tag "motivo_consulta[nivel_importancia]", options_for_select(%w{ Bajo Medio Alto Urgente}), :prompt => "Seleccione" %> 
  </div>
  
   
  
  
	<div class="actions">
    	<%= f.submit 'Guardar Motivo Consulta'%>
  	</div>
  
  
<% end %>
