<h1>Lista de Espera</h1>
<body>
<div align="center">
<div method="get" action="">
  Buscar: <%= search_field_tag 'nombre' %>
</div>
</div>
 </br>
 
 <div align="center">
<p><a href="#">A</a> <a href="#">B</a> <a href="#">C</a> <a href="#">D</a> <a href="#">E</a> <a href="#">F</a> <a href="#">G</a> <a href="#">H</a> <a href="#">I</a> <a href="#">J</a> <a href="#">K</a> 
	<a href="#">L</a> <a href="#">M</a> <a href="#">N</a> <a href="#">N</a> <a href="#">O</a> <a href="#">P</a> <a href="#">Q</a> <a href="#">R</a> <a href="#">S</a> <a href="#">T</a> <a href="#">U</a>
	 <a href="#">V</a> 
	 <a href="#">W</a> 
	 <a href="#">X</a> 
	 <a href="#">Y</a> 
	 <a href="#">Z</a>
	 
</p>
	 </div>
	 </br>
	 </br>
	 
	<div align="center"> 
<table>
<table width="700" height="70" border="1">
  <tr>
    <th bgcolor="lightblue" scope="col">Paciente</th>
    <th bgcolor="lightblue" scope="col">Expediente</th>
    <th bgcolor="lightblue" scope="col">Motivo inicial</th>
	<th bgcolor="lightblue" scope="col">Estado</th>
    <th bgcolor="lightblue" scope="col">Fecha inicio</th>
    <th bgcolor="lightblue" scope="col">Nivel importancia</th>
	<th bgcolor="white" scope="col"> Mostrar</th>
	<th bgcolor="white" scope="col"> Editar </th>
	<th bgcolor="white" scope="col"> Eliminar </th>
  </tr>
   
 
<% @motivos_consulta.each do |motivo_consulta| %>
  <tr>
    <td>
    	<% motivo_consulta.expediente.pacientes.each do |paciente| %>
			<%= paciente.nombre_completo %><br/>
    	<% end %>
    </td>
	<td><%= motivo_consulta.expediente.id %></td>
	<td><%= motivo_consulta.motivo_inicial %></td>
    <td><%= motivo_consulta.estado %></td>
    <td><%= motivo_consulta.fecha_inicio %></td>
    <td><%= motivo_consulta.nivel_importancia %></td>
	<td><%= link_to 'Mostrar', motivo_consulta, :method => :get %></td>
   	<td><%= link_to 'Editar', edit_motivo_consulta_path(motivo_consulta) %></td>
    <td><%= link_to 'Eliminar', motivo_consulta, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

 </div>

<br />
<div align="center"> 
<%= button_to 'Nuevo Motivo Consulta', new_motivo_consulta_path, :method => :get %> 

 </div>