<h1>Listing motivos_consulta</h1>

<table>
  <tr>
    <th>Motivo inicial</th>
    <th>Motivo real</th>
    <th>Derivacion</th>
    <th>Estado</th>
    <th>Fecha inicio</th>
    <th>Fecha fin</th>
    <th>Nivel importancia</th>
    <th>Expediente</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @motivos_consulta.each do |motivo_consulta| %>
  <tr>
    <td><%= motivo_consulta.motivo_inicial %></td>
    <td><%= motivo_consulta.motivo_real %></td>
    <td><%= motivo_consulta.derivacion %></td>
    <td><%= motivo_consulta.estado %></td>
    <td><%= motivo_consulta.fecha_inicio %></td>
    <td><%= motivo_consulta.fecha_fin %></td>
    <td><%= motivo_consulta.nivel_importancia %></td>
    <td><%= motivo_consulta.expediente %></td>
    <td><%= link_to 'Show', motivo_consulta %></td>
    <td><%= link_to 'Edit', edit_motivo_consulta_path(motivo_consulta) %></td>
    <td><%= link_to 'Destroy', motivo_consulta, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Motivo consulta', new_motivo_consulta_path %>
