<%= form_for(@cita) do |f| %>
  <% if @cita.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cita.errors.count, "error") %> prohibited this cita from being saved:</h2>

      <ul>
      <% @cita.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :paciente %><br />
    <%= f.collection_select :motivo_consulta_id, @motivos_consulta, :id, :motivo_inicial %>
  </div>    

  
  
  <div class="field">
    <%= f.label "Fecha" %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label "Hora inicio" %><br />
    <%= f.time_select :hora_inicio, {:ampm => true}%>
  </div>
  
  <div class="field">
    <%= f.label "Hora final" %><br />
    <%= f.time_select :hora_fin, {:ampm => true}%>
  </div>
  
  <div class="field">
    <%= f.label :lugar_atencion %><br />
    <%= f.text_field :lugar_atencion %>
  </div>
  
  <div class="field">
    <%= f.label :numero_consultorio %><br />
    <%= select_tag "cita[numero_consultorio]", options_for_select(%w{ ConsultorioB Consultorio1 Consultorio3 Consultorio4 Consultorio5 Consultorio6}), :prompt => "Seleccione" %> 
  </div>

  <div class="actions">
    <%= button_to 'Reporte', new_reporte_path, :method => :get %>
    <%= f.submit %>
  </div>
<% end %>
