<%= form_for(@cita) do |f| %>
  <% if @cita.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cita.errors.count, "error") %> prohibited this cita from being saved:</h2>

      <ul>
      <% @cita.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :paciente %><br />
    <%= f.collection_select :motivo_consulta_id, @pacientes, :motivo_consulta_activo_id, :nombre_completo %>
  </div>    

  <div class="field">
    <%= f.label "Fecha" %><br />
    <%= f.date_select :fecha, :start_year => (Time.now.year), :end_year => (Time.now.year + 10) %>
  </div>
  <div class="field">
    <%= f.label "Hora inicio" %><br />
    <%= f.time_select :hora_inicio, {:minute_step => 30, :ampm => true}%>
  </div>
  
  <div class="field">
    <%= f.label "Hora final" %><br />
    <%= f.time_select :hora_fin, {:minute_step => 30, :ampm => true}%>
  </div>
  
  <div class="field">
    <%= f.label :consultorio_id %><br />
    <%= f.collection_select :consultorio_id, Consultorio.all, :id, :numero_consultorio %>
  </div>
  
  <div class="field">
    <%= f.label :lugar_atencion %><br />
    <%= f.text_field :lugar_atencion %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
