<%= form_for(@cita) do |f| %>
  <% if @cita.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cita.errors.count, "error") %> prohibited this cita from being saved:</h2>

      <ul>
      <% @cita.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Fecha" %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label "Lugar de atención" %><br />
    <%= f.text_field :lugar_atencion %>
  </div>
  <div class="field">
    <%= f.label "Hora" %><br />
    <%= f.text_field :hora %>
  </div>
  <div class="field">
    <%= f.label "Duración" %><br />
    <%= f.text_field :duracion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
