<h1 class="content_title">Citas</h1>

<table class="list_resourses">
	<tr>
		<th>Fecha</th>
		<th>Hora</th>
		<th>Duración</th>
		<th>Lugar atención</th>
		<th>Consultorio</th>
		<th>Paciente(s)</th>
		<th>Tratante(s)</th>
		<th>Editar/Cancelar</th>
	</tr>

	<% @citas.each do |cita| %>
	<tr>
		<td><%= cita.fecha %></td>
		<td><%= cita.hora_inicio%></td>
		<td><%= cita.hora_fin %></td>
		<td><%= cita.lugar_atencion %></td>
		<td><%= cita.consultorio.numero_consultorio %></td>
		<td>
			<% cita.pacientes.each do |paciente| %>
				<%= paciente.nombre_completo %><br/>
			<% end %>
		</td>
		<td>
			<% cita.usuarios.each do |usuario| %>
				<%= usuario.nombre_completo %><br/>
			<% end %>
		</td>
		<td><%= link_to 'Editar', edit_cita_path(cita) %> | <%= link_to 'Cancelar Cita', cita, confirm: '¿Esta seguro?', method: :delete %></td>
	</tr>
	<% end %>
</table>

<br />

<%= button_to 'Cita nueva', new_cita_path, :method => :get  %>
