<h1>Listing citas</h1>

<table>
  <tr>
    <th>Fecha</th>
    <th>Hora</th>
    <th>Duracion</th>
    <th>Lugar atencion</th>
    <th>Motivo consulta</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @citas.each do |cita| %>
  <tr>
    <td><%= cita.fecha %></td>
    <td><%= cita.hora %></td>
    <td><%= cita.duracion %></td>
    <td><%= cita.lugar_atencion %></td>
    <td><%= cita.motivo_consulta %></td>
    <td><%= link_to 'Show', cita %></td>
    <td><%= link_to 'Edit', edit_cita_path(cita) %></td>
    <td><%= link_to 'Destroy', cita, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cita', new_cita_path %>
