<p id="notice">
	<%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @cita.fecha %>
</p>

<p>
  <b>Hora inicial:</b>
  <%= @cita.hora_inicio.strftime('%H:%M') %>
</p>

<p>
  <b>Hora final:</b>
  <%= @cita.hora_fin.strftime('%H:%M')%>
</p>

<p>
  <b>Número consultorio:</b>
  <%= @cita.consultorio.numero_consultorio %>
</p>

<p>
  <b>Lugar atención:</b>
  <%= @cita.lugar_atencion %>
</p>

<p>
  <b>Paciente(s):</b>
  <% @cita.pacientes.each do |paciente| %>
	<%= paciente.nombre_completo %><br/>	
  <% end %>
</p>

<p>
  <b>Tratante(s):</b>
  <% @cita.usuarios.each do |supervisor| %>
	<%= supervisor.nombre_completo %><br/>	
  <% end %>
</p>

<div align="center">
	<b>HISTORIAL DE REPORTES</b>

	<table>
		<table width="700" height="70" border="1">
			<tr>
				<th bgcolor="white" scope="col">Diagnostico</th>
				<th bgcolor="white" scope="col">Tratamiento</th>
				<th bgcolor="white" scope="col">Temas Discutidos</th>
				<th bgcolor="white" scope="col">Editar</th>
								

			<% @cita.reportes.each do |reporte| %>
			<tr>
				<td> <%= reporte.diagnostico %> </td>
				<td> <%= reporte.tratamiento %></td>
			 	<td> <%= reporte.temas_discutidos %></td>
			 	
			 	<td> <%= link_to 'Editar', edit_cita_reporte_path(@cita) %> </td>
			    
								
			</tr>
			<% end %>

		</table>
</div>




<br/>
<%= button_to 'Nuevo Reporte', new_cita_reporte_path(@cita), :method => :get %>
<br/>

<%= link_to 'Editar', edit_cita_path(@cita) %> |
<%= link_to 'Regresar', params[:desde].nil? ? citas_path : params[:desde] %>
