<p id="notice">
	<%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @cita.fecha %>
</p>

<p>
  <b>Hora inicial:</b>
  <%= @cita.hora_inicio%>
</p>

<p>
  <b>Hora final:</b>
  <%= @cita.hora_fin%>
</p>

<p>
  <b>Numero consultorio:</b>
  <%= @cita.consultorio.numero_consultorio %>
</p>

<p>
  <b>Lugar atención:</b>
  <%= @cita.lugar_atencion %>
</p>


<br/>
<%= button_to 'Reporte', new_cita_reporte_path(@cita), :method => :get %>
<br/>

<%= link_to 'Editar', edit_cita_path(@cita) %> |
<%= link_to 'Regresar', params[:desde].nil? ? citas_path : params[:desde] %>
