<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @cita.fecha %>
</p>

<p>
  <b>Lugar atenci&oacute;n:</b>
  <%= @cita.lugar_atencion %>
</p>

<p>
  <b>Hora:</b>
  <%= @cita.hora %>
</p>

<p>
  <b>Duraci&oacute;n:</b>
  <%= @cita.duracion %>
</p>


<%= button_to 'Editar', edit_cita_path(@cita), :method => :get %> 
<%= button_to 'Regresar', citas_path, :method => :get %>
