<p id="notice">
	<%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @cita.fecha %>
</p>

<p>
  <b>Hora:</b>
  <%= @cita.hora %>
</p>

<p>
  <b>Duración:</b>
  <%= @cita.duracion %>
</p>

<p>
  <b>Lugar atención:</b>
  <%= @cita.lugar_atencion %>
</p>

<p>
  <b>Motivo consulta:</b>
  <%= @cita.motivo_consulta %>
</p>


<%= link_to 'Editar', edit_cita_path(@cita) %> |
<%= link_to 'Regresar', citas_path %>
